<% cache ["location_forecast", location_data] do %>
  <div><%= location_data[:name] %></div>
  <div><%= location_data[:country] %></div>
  <div><%= location_data[:current_temperature] %></div>
<% end %>

<%= link_to "Back", weather_forecasts_path %>
