<p style="color: green"><%= notice %></p>

<h1>Locations</h1>

<div id="locations">
  <% @locations.each do |location| %>
    <ul>
      <% cache location do %>
        <li><%= location.name %></li>
      <% end %>
    </ul>
    <p>
      <%= link_to "Show this location", search_forecasts_location_path(
        latitude: location.latitude, longitude: location.longitude, 
        name: location.name, country: location.country) %>
    </p>
  <% end %>
</div>
