<% cache ["location_forecast", @location_name, @location_country, @current_temperature] do %>
  <div><%= @location_name %></div>
  <div><%= @location_country %></div>
  <div><%= @current_temperature %></div>
<% end %>

<%= link_to "Back", search_forecasts_path %>
